<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>224493497602-u0kl9dhkd81e0kntqnll9700vf0b2i99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224493497602-u0kl9dhkd81e0kntqnll9700vf0b2i99</string>
	<key>API_KEY</key>
	<string>AIzaSyBR84ISfrYzjdxEmVCSYUA-8qOiupglwBs</string>
	<key>GCM_SENDER_ID</key>
	<string>224493497602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owzhiyin.WhoMatters</string>
	<key>PROJECT_ID</key>
	<string>whomatters-30c02</string>
	<key>STORAGE_BUCKET</key>
	<string>whomatters-30c02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:224493497602:ios:d28c0b9d58a19b39</string>
	<key>DATABASE_URL</key>
	<string>https://whomatters-30c02.firebaseio.com</string>
</dict>
</plist>